@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  
  background: rgb(106, 57, 223);
  background: -moz-linear-gradient(166deg, rgba(106, 57, 223, 1) 0%, rgba(69, 22, 115, 1) 100%);
  background: -webkit-linear-gradient(166deg, rgba(106, 57, 223, 1) 0%, rgba(69, 22, 115, 1) 100%);
  background: linear-gradient(166deg, rgba(106, 57, 223, 1) 0%, rgba(69, 22, 115, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6a39df", endColorstr="#451673", GradientType=1);

  font-family: Arial, Helvetica, sans-serif;
}