/* .vis-network{overflow:visible;} */
div.vis-tooltip {
  position: absolute;
  visibility: hidden;
  padding: 5px;
  white-space: nowrap;
  font-family: verdana;
  font-size: 14px;
  color: #000;
  background-color: #f5f4ed;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 16px;
  border: 1px solid #808074;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  z-index: 5;
  overflow: visible;
}

div.vis-network div.vis-manipulation {
  box-sizing: content-box;
  border-width: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: #d6d9d800;
  background: #ffffff00 !important;
  background: -moz-linear-gradient(top,
      #fff 0,
      #fcfcfc 48%,
      #fafafa 50%,
      #fcfcfc 100%);
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      color-stop(0, #fff),
      color-stop(48%, #fcfcfc),
      color-stop(50%, #fafafa),
      color-stop(100%, #fcfcfc));
  background: -webkit-linear-gradient(top,
      #fff 0,
      #fcfcfc 48%,
      #fafafa 50%,
      #fcfcfc 100%);
  background: -o-linear-gradient(top,
      #fff 0,
      #fcfcfc 48%,
      #fafafa 50%,
      #fcfcfc 100%);
  background: -ms-linear-gradient(top,
      #fff 0,
      #fcfcfc 48%,
      #fafafa 50%,
      #fcfcfc 100%);
  background: linear-gradient(to bottom,
      #fff 0,
      #fcfcfc 48%,
      #fafafa 50%,
      #fcfcfc 100%);
  padding-top: 4px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 28px;
}

div.vis-network div.vis-navigation div.vis-button.vis-up,
div.vis-network div.vis-navigation div.vis-button.vis-down,
div.vis-network div.vis-navigation div.vis-button.vis-left,
div.vis-network div.vis-navigation div.vis-button.vis-right,
div.vis-network div.vis-navigation div.vis-button.vis-zoomIn,
div.vis-network div.vis-navigation div.vis-button.vis-zoomOut,
div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends {
  background-image: none !important;
}

div.vis-network div.vis-navigation div.vis-button:hover {
  box-shadow: none !important;
}

.vis-button:after {
  font-size: 2em;
  color: gray;
}

.vis-button:hover:after {
  font-size: 2em;
  color: lightgray;
}

/* Override navigation content */
.vis-button.vis-up:after {
  content: "▲";
}

.vis-button.vis-down:after {
  content: "▼";
}

.vis-button.vis-left:after {
  content: "◀";
}

.vis-button.vis-right:after {
  content: "▶";
}

.vis-button.vis-zoomIn:after {
  content: "+";
  font-weight: bold;
}

.vis-button.vis-zoomOut:after {
  content: "−";
  font-weight: bold;
}

.vis-button.vis-zoomExtends:after {
  content: "⤧";
}

div.vis-network div.vis-edit-mode:after {
  content: " ✎"
}

/* Override Position zoom in/out & fit center */
div.vis-network div.vis-navigation div.vis-button.vis-zoomIn {
  bottom: 14px !important;
  right: 80px !important;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomOut {
  bottom: 14px !important;
  right: 47px !important;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends {
  bottom: 16px !important;
  right: 12px !important;
}

/* Override vis-close (message after click add node / edges  */
.vis-close {
  display: block;
  touch-action: pan-y;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  right: 0;
  height: 32px;
  width: 32px;
}

.vis-close:after {
  content: "X";
}



/* Override vis-manipulation, vis-edit & vis-label  */
div.vis-network div.vis-manipulation {
  margin: 8px 0 0 0px !important;
  line-height: 25px;
  padding: 4px;
}

div.vis-network div.vis-edit-mode {
  position: absolute;
  left: 6px !important;
  top: 12px !important;
  height: 30px;
}

div.vis-label {
  margin-left: 24px !important;
}

.vis-none {
  padding-top: 12px !important;
  padding-left: 24px !important
}


/* on edit: Separator */
div.vis-network div.vis-manipulation div.vis-separator-line {
  display: none !important
}

/* Override navigation arrows */
div.vis-network div.vis-navigation div.vis-button.vis-up {
  bottom: 64px !important;
  left: 70px !important;
}

div.vis-network div.vis-navigation div.vis-button.vis-down {
  bottom: 28px !important;
  left: 70px !important;
}

div.vis-network div.vis-navigation div.vis-button.vis-right,
div.vis-network div.vis-navigation div.vis-button.vis-left{
  bottom: 46px !important;
}

div.vis-network div.vis-navigation div.vis-button.vis-left {
  left: 42px !important;
}

div.vis-network div.vis-navigation div.vis-button.vis-right {
  left: 102px !important;
}


/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {

  div.vis-network div.vis-navigation div.vis-button.vis-zoomIn,
  div.vis-network div.vis-navigation div.vis-button.vis-zoomOut,
  div.vis-network div.vis-navigation div.vis-button.vis-up,
  div.vis-network div.vis-navigation div.vis-button.vis-down,
  div.vis-network div.vis-navigation div.vis-button.vis-left,
  div.vis-network div.vis-navigation div.vis-button.vis-right {
    display: none !important;
  }
}